<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>

<p>
  <b>Commentor name:</b>
  <%= @comment.commentor_name %>
</p>

<p>
  <b>Article:</b>
  <%= @comment.article %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
